/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}

.body {
    font-family: sans-serif;
}

.title-first {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
}

.title-third {
    font-size: 36px;
    text-align: center;
}

.title-second {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 44px;
    line-height: 74px;
    letter-spacing: 0.04em
}

.title-fourth {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #1F3F68;
    letter-spacing: 0.04em;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    font-weight: 400;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.container {
    padding: 0 calc(50% - 570px);
}

.main-container {
    padding: 0 calc(50% - 470px);
}

@media (max-width: 1024px) {

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer-container-tablet {
        padding-left: 124px;
        padding-right: 124px;
    }
}

@media (max-width: 667px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}