.navbar {
    display: flex;
    padding-top: 37px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 54px;
}

@media (max-width: 1024px) {
    .contacts-navbar {
        padding-top: 15px;
        margin-bottom: 46px;
    }
}

@media (max-width: 667px) {
    .contacts-navbar {
        padding-top: 15px;
        margin-bottom: 30px;
    }
}